.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-flow: dense;
  grid-gap: 20px;
}

@media (min-width: 1024px) {
  main {
    padding: 40px 50px 20px;
  }
  .main :nth-child(5) {
    grid-row: span 2;
    grid-column: span 2;
  }
  .main :nth-child(15) {
    grid-row: span 2;
    grid-column: span 2;
  }
}
