.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo {
  width: 120px;
  text-align: center;
  font-size: 10px;
  letter-spacing: 1px;
  padding: 20px;
  line-height: 20px;
}
.logo img {
  width: 70px;
}
.list {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.shops {
  padding-top: 20px;
}
.shops img {
  padding: 10px;
  border-radius: 50px;
}
