.form,
.inputContainer {
  width: 100%;
  padding: 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inputContainer {
  padding: 0;
}
.form input,
.form textarea,
.form button {
  align-self: center;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: none;
  border: none;
  outline: none;
  color: #442c2e;
}
.form input,
.form textarea {
  border: 0.5px solid #442c2e8e;
}

.form button {
  border-left: 1px solid #442c2e8e;
  border-right: 1px solid #442c2e8e;
  width: 100px;
  cursor: pointer;
  text-transform: uppercase;
}
.alert {
  height: 40px;
  align-self: center;
  width: 100%;
}
.alert p {
  color: red;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 37px;
  border: 1px solid;
}

@media (min-width: 500px) {
  .form {
    padding-top: 30px;
  }
  .inputContainer {
    align-self: center;
    width: 400px;
    flex-direction: row;
    justify-content: space-between;
  }
  .inputName {
    margin-right: 20px;
  }
  .form input,
  .form textarea {
    margin-top: 20px;
    width: 400px;
  }
  .alert {
    width: 400px;
  }
}
