.aside {
  display: none;
  width: 130px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  justify-content: space-between;
  flex-direction: column;
  z-index: 2;
}
.logo {
  height: 130px;
  text-align: center;
  font-size: 10px;
  letter-spacing: 1px;
  padding: 20px;
  line-height: 20px;
  border-bottom: 0.5px solid #fedbd0;
}
.logo img {
  width: 70px;
  padding: 5px 0;
}
.menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  flex-direction: row-reverse;
  transform: rotate(-90deg);
}

.menu li a {
  margin-left: 30px;
  padding-left: 10px;
  letter-spacing: 1px;
  color: #442c2e8a;
  font-size: 14px;
}

.menu li a:hover {
  color: #442c2e;
}

.active {
  color: #442c2e !important;
  border-left: 0.5px solid;
}
.shops {
  text-align: center;
  padding: 20px;
}

.shops img {
  margin-top: 20px;
  width: 50px;
  border-radius: 50%;
}

@media (min-width: 1024px) {
  .aside {
    display: flex;
  }
}
