html {
  scroll-behavior: smooth;
}
.scrollTop {
  text-transform: uppercase;
  font-size: 20px;
  margin: 50px;
}
.error {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  text-align: center;
  padding: 50px;
}
.error p {
  margin: 30px 0 10px;
}
.error span {
  font-weight: 600;
}

@media (min-width: 1024px) {
  .scrollTop {
    display: none;
  }
}
